@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
  margin:0;
  padding:0;
  background-color:antiquewhite;
}

.App {
  padding:25px;
  font-family:'Cinzel';
}

a {
  text-decoration: none;
  color:inherit;
}

.Nav {
  /* padding:10px; */
  background-color:transparent;
  display:flex;
  flex-wrap:nowrap;
  gap:25px;
  align-items: baseline;
}

.Nav .icons {
  display:flex;
  gap:15px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 800px) {
  .Nav {
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    padding-bottom:25px;
  }
  .Nav h1 {
    font-size:24px;
  }

  .Front {
    flex-wrap:wrap;
    flex-direction: column-reverse;
  }

  .Visual {
    width:100%;
  }

}



.Nav img {
  width:1.5em;
}

.Nav a * {
  vertical-align: bottom;
}

.Front {
  display:flex;
  padding-left:50px;
  align-items: center;
}

.Visual {
  max-width:500px;
  /* border:1px solid black; */
}

.About {
  /* border:1px solid black; */
  max-width:1000px;
  height:fit-content;
}

.Join {
  padding-left:50px;
  padding-bottom:50px;
  margin:auto;
  /* border:1px solid black; */
}

.Meetings {
  padding:25px;
  /* border:1px solid black; */
}
.Meeting {
  border:1px solid black;
  padding:10px;
  margin:10px;
}

.meetingflex {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.meetingcontent {
  margin:10px;
}

.Merch {
  padding:50px;
  display:flex;
  gap:100px;
  flex-wrap:wrap;
}

.Product {
  width:250px;
  height:250px;
  border:1px solid black;
  /* box-shadow: 10px 10px 20px 5px black; */
  padding:35px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:10px;
}


.Product img {
  width:80%;
  object-fit:contain;
  max-height:200px;
  min-height:200px;
  display: block;
  margin:auto;
  border-radius:10px;

}

.Product h3 {
  width:fit-content;
  margin:0px auto;
}

.Console {
  padding:50px;
}

.Help {
 padding-left:50px;
  width:fit-content;
}

.Help img {
  width:30%;
}

.Images {
  margin:auto;
  padding-left:50px;
  padding-bottom:50px;
  /* width:fit-content; */
}

.Images img {
  width: 25%;
}